# Departments EDA

## 01 Setup

In [1]:
#Import libriaries
import numpy as np
import pandas as pd 
import os

In [2]:
# Path
path = r'/Users/peanutcookie/instacart-book/'

In [3]:
# Import .csv file
df = pd.read_csv(os.path.join(path, '_csv-raw', 'departments.csv'), index_col = False)

## 02 Dataframe exploration

In [4]:
# Dataframe shape
df.shape

(1, 22)

In [23]:
# Return Dataframe head
df.head(22)

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [26]:
df.dtypes

department_id
department    object
dtype: object

## 03 Dataframe Cleansing

### Transposing data

In [7]:
df = df.T

In [8]:
df.head(3)

                        0
department_id  department
1                  frozen
2                   other

In [9]:
df.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [10]:
header = df.iloc[0]

In [11]:
header

0    department
Name: department_id, dtype: object

In [12]:
df = df[1:]

In [13]:
df.columns = header
df.head(10)

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk

In [14]:
df.dtypes

department_id
department    object
dtype: object

### Duplicates

In [15]:
# Return duplicates
duplicated_rows = df[df.duplicated()]
duplicated_rows.shape

(0, 1)

### Missing values

In [16]:
# Search and return mixed Values
print("Mixed data")
for col in df.columns.tolist():
  mixed = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[mixed]) > 0:
    print (col + "True")
  else :
    print(col + ": False")

Mixed data
department: False

## 04 Export check

In [18]:
df.shape

(21, 1)

In [19]:
df.dtypes

department_id
department    object
dtype: object

## 04 Export

In [ ]:
df.to_pickle(os.path.join(path, '_database', 'departments.pkl'))