# 01 Orders + Products Prior

## 01 Setup

In [1]:
#Import libriaries
import numpy as np
import pandas as pd 
import os

In [2]:
# Path
path = r'/Users/peanutcookie/instacart-book/'

In [3]:
# Import pkl files
df_orders = pd.read_pickle(os.path.join(path, '_database', 'orders.pkl'))
df_order_products_prior = pd.read_pickle(os.path.join(path, '_database', 'order_products_prior.pkl'))

## 02 Data combination

In [4]:
df_orders.head(5)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [5]:
df_orders.shape

(3421083, 7)

In [6]:
df_order_products_prior.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

In [7]:
df_orders.dtypes

order_id                   object
user_id                    object
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
new_customer                 bool
dtype: object

In [8]:
df_order_products_prior.head(5)

  order_id product_id  add_to_cart_order  reordered
0        2      33120                  1          1
1        2      28985                  2          1
2        2       9327                  3          0
3        2      45918                  4          1
4        2      30035                  5          0

In [9]:
df_order_products_prior.shape

(32434489, 4)

In [10]:
df_orders.dtypes

order_id                   object
user_id                    object
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
new_customer                 bool
dtype: object

### Combining orders and order_products_prior data frames

In [11]:
# Combine orders and order_product_prior data frames
df_orders_products_merged = df_orders.merge(df_order_products_prior, on = 'order_id', indicator = True)

In [12]:
# Return new dataframe head
df_orders_products_merged.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both
5,2398795,1,2,3,7,15.0,False,196,1,1,both
6,2398795,1,2,3,7,15.0,False,10258,2,0,both
7,2398795,1,2,3,7,15.0,False,12427,3,1,both
8,2398795,1,2,3,7,15.0,False,13176,4,0,both
9,2398795,1,2,3,7,15.0,False,26088,5,1,both

In [13]:
# Return new data frame shape
df_orders_products_merged.shape

(32434489, 11)

In [14]:
df_orders_products_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_orders_products_merged.dtypes

order_id                    object
user_id                     object
order_number                 int64
order_day_of_week            int64
order_hour_of_day            int64
days_since_prior_order     float64
new_customer                  bool
product_id                  object
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

## 03 Export

In [16]:
df_orders_products_merged.to_pickle(os.path.join(path, '_database', 'orders_products_combined.pkl'))