# User activity by hours

## 01 Setup

In [4]:
#Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [5]:
# Path
path = r'/Users/peanutcookie/instacart-book/'

In [6]:
# Import orders_products_merged.pkl file
df = pd.read_pickle(os.path.join(path, '_database', 'orders_products_merged.pkl'))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   new_customer            bool
 7   product_id              object
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
 11  product_name            object
 12  aisle_id                object
 13  department_id           object
 14  prices                  float64
 15  exists                  category
 16  price_range             object
 17  price_range_loc         object
dtypes: bool(1), category(2), float64(2), int64(5), object(8)
memory usage: 4.0+ GB

## 02 User activity by days hourly ranges

In [8]:
df['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [11]:
df['order_hour_of_day'].describe()

count    3.240486e+07
mean     1.342515e+01
std      4.246380e+00
min      0.000000e+00
25%      1.000000e+01
50%      1.300000e+01
75%      1.600000e+01
max      2.300000e+01
Name: order_hour_of_day, dtype: float64

Observations <br/>
**MOST ORDERS** = Between 8 - 18 the orders number don't drop below 1.6 mln </br>
**AVERAGE ORDERS** = At 19 orders osccilate below 1.6 Mln but are higher than 1 mln </br>
**FEWEST ORDERS** = Orders occuring between 21 and 7 are below 1 mln

In [13]:
result = []

for value in df['order_hour_of_day']:
  if  19 > value > 7:
    result.append("Most orders")
  elif value == 19:
    result.append("Average orders")
  else:
    result.append("Fewest orders")

In [14]:
df['busiest_hours'] = result

In [15]:
df['busiest_hours'].value_counts(dropna = False)

Most orders       26560345
Fewest orders      4586209
Average orders     1258305
Name: busiest_hours, dtype: int64

In [16]:
df.info(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   new_customer            bool
 7   product_id              object
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
 11  product_name            object
 12  aisle_id                object
 13  department_id           object
 14  prices                  float64
 15  exists                  category
 16  price_range             object
 17  price_range_loc         object
 18  busiest_hours           object
dtypes: bool(1), category(2), float64(2), int64(5), object(9)
memory usage: 4.2+ GB

## 03 Export

In [17]:
# Export data to pkl
df.to_pickle(os.path.join(path, '_database', 'orders_products_merged.pkl'))